body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
}

.left-side,
.right-side {
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1;
    margin-right: 20px;
}

.right-side {
    flex: 2;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: #0056b3;
}

.plan-details {
    margin-top: 20px;
}

.plan-details p {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        
        max-width: 100%;
    }

    .left-side,
    .right-side {
        margin: 0;
        margin-bottom: 20px;
        
    }
}




